apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "charts.postgres.fullname" . }}-initdb-scripts
  labels:
    {{- include "charts.postgres.labels" . | nindent 4 }}
data:
{{- $files := list "01-create-databases.sql" "02-create-libraries-schema.sql" "03-create-reservations-schema.sql" "04-create-ratings-schema.sql" "05-seed-data.sql" }}
{{- range $file := $files }}
  {{ $file }}: |
{{ .Files.Get (printf "files/%s" $file) | indent 4 }}
{{- end }}
